<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User image:</strong>
  <p>---</p>
  <style>
    .user_image {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }
  </style>
  <%= image_tag @user.user_image.url, class: "user_image" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
