<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h4>action_name: <%= action_name %></h4>
      <h4>current_user: <%= current_user.name %></h4>
    <% end %>
    <%= link_to 'ログアウト', session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
